# Prevent direct access to HTML files
<Files "*.html">
    Order allow,deny
    Deny from all
</Files>
 
# Redirect any direct attempts to access feedback.html to the login page
RewriteEngine On
RewriteRule ^feedback\.html$ /car_rental_cc/index.php [R=301,L] 